<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Modificar Estudiantes</title>
</head>
<body>
	<form th:action="@{/modificarEstudiante}" th:object="${estudiante}" method="post">

		<h1>Modificar Estudiante</h1>
		
		<div class="form group">
		
			<input type="hidden" th:field="${estudiante.codigo}" th:value="${estudiante.codigo}">
			<label>Nombre :</label><br>
			<input type="text" th:field="${estudiante.nombre}" th:value="${estudiante.nombre}"><br>
			<span th:errors="${estudiante.nombre}" style="color:  #E81505;"></span><br>
			
			<label>Apellido:</label><br>
			<input type="text" th:field="${estudiante.apellido}" th:value="${estudiante.apellido}"><br>
			<span th:errors="${estudiante.apellido}" style="color:  #E81505;"></span><br>
			
			<label>Carne:</label><br>
			<input  type="number" th:field="${estudiante.carne}" th:value="${estudiante.carne}"><br>
			<span th:errors="${estudiante.carne}" style="color:  #E81505;"></span><br>
			
			<label>Carrera:</label><br>
			<input  type="text" th:field="${estudiante.carrera}" th:value="${estudiante.carrera}"><br>
			<span th:errors="${estudiante.carrera}" style="color:  #E81505;"></span><br><br>
			
		</div>
		
		<input class="btn btn-success" type="submit" value="Modificar estudiante">
	</form><br>

	
	<br>
	<br><button class="btn btn-info" onclick="window.location.href='/inicio'">Regresar al form principal</button>

</body>
</html>